{% extends 'nav.html' %} {% block title %}{% endblock title %} {% block body %}
<div class="container">
  <h1 class="text-center">Register Yourself</h1>
  <form method="post" action="/contact">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        aria-describedby="name" placeholder="John Doe"
      />
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp" placeholder="info@gmail.com"
      />
      <label for="number" class="number">Phone Number</label>
      <input type="number" class="form-control" id="number" placeholder="3152789433" />
      <div id="text" class="form-text">
        We'll never share your email or number with anyone else.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script>
  document.getElementById("home").classList.remove("active");
  document.getElementById("contact").classList.add("active");
</script>
{% endblock body %}
